    .tooltip{
        position: absolute; 
        text-align: center; 
        width: 13%; 
        height:10%;   
        padding: 2vw; 
        font: 1.2vw sans-serif;   
        border: 0px;          
        border-radius: 8px;
        color:black;
        box-shadow: -3px 3px 15px #888888;
        opacity:0;  
    }

    .slider {
        -webkit-appearance: none;
        width: 25%;
        height: 15px;
        border-radius: 5px;  
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%; 
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    .sliderdiv {
        font-family: "verdana";
    }

    h2 {
        font-family: "verdana";
    }